{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "comma-dangle": "off",
    "curly": [
      "error",
      "all"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "no-console": "warn",
    "no-param-reassign": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/indent": [
      "error",
      2
    ]
  }
}
